.navbar-custom {
  background-color: #1f2937;
}

.btn-dark {
  background-color: #111827;
}

.btn-primary {
  background-color: #0d6efd;
  color: white
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  background-color: #0d6efd !important;
  color: #ffffff !important;
  border: 1  !important;
}

.bg-grey {
  background-color: #e3e3e3;
}

.vertical-timeline-element-content {
  border-top: 3px solid #2196f3;
}

.vertical-timeline-element-date {
  color: #212529
}

.loading-gif {
  width: 3rem;
  height: 3rem;
}

.search-bar {
  display: flex;
  align-items: flex-end;
}

.box01{
  width: 100%;
  height: 75px;
  background: white;
  display: flex;
  align-items: flex-end;
}

.box02{
  width: 100%;
  height: 75px;
  margin-top: 20px;
}

.box03{
  width: 50%;
  height: 75px;
  margin-top: 20px;
}

.box04{
  width: 50px;
  height: 75px;
}