body {
  padding-right: 0 !important
}

.navbar-custom {
  background-color: #1f2937;
}

.btn-dark {
  background-color: #111827;
}

.btn-primary {
  background-color: #0d6efd;
  color: white
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  background-color: #0d6efd !important;
  color: #ffffff !important;
  border: 1  !important;
}

.bg-grey {
  background-color: #e3e3e3;
}

.vertical-timeline-element-content {
  border-top: 3px solid #2196f3;
}

.vertical-timeline-element-date {
  color: #212529
}

.loading-gif {
  width: 3rem;
  height: 3rem;
}

.search-bar {
  display: flex;
  align-items: flex-end;
}

.box01{
  text-align: right;
}

.box02{
  text-align: left;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

@media screen and (max-width: 480px) {
  .content{
    grid-template-columns: 1fr;
    color: red;
  }
}

.select-align {
  text-align: center;
}

.footer-color{
  background-color: rgba(0, 0, 0, 0.05);
}